#student-filters {
    float:left;
    width: 40%;
    font-size: 16px;
    padding-right: 10px;
}

#student-list {
    float:right;
    width: 60%;
}

#institution-filters {
    float:left;
    width: 40%;
    font-size: 16px;
    padding-right: 10px;
}

#program-list {
    float:right;
    width: 60%;
}

#programs .program a {
    color: white;
}

.is-checked {
  font-weight: bold;
}

#programs .program {
    width: 125px;
    height: 125px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.student {
    width: 125px;
    height: 125px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.graduate {
    background-color: #FF6600;
}

.undergraduate {
    background-color: #0083AA;
}

#program-list .other {
    background-color: #1B2544;
}
