---
---
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.instbutton {
  background-color:#bddbfa;
  @include border-radius(3px);
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#615f61;
  font-family:Merriweather, serif; 
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:120px;
  text-decoration:none;
  text-align:center;
}
.instbutton:hover {
  background-color:#80b5ea;
}
.instbutton:active {
  position:relative;
  top:1px;
}

