---
---
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
