---
layout: default
title: Directory of Allied Programs
---

<div id="programs">

  <div id="filters" class="button-group">
      <button class="is-checked" data-filter="*">All Programs</button>
      <button data-filter=".grad">Graduate Programs</button>
      <button data-filter=".undergrad">Undergraduate Programs</button>
      <button data-filter=".other">Other Programs</button>
  </div>

   <div id="program-list">
     {% for post in site.categories['graduate'] %}
     <div class="program grad" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
       <a href="{{ post.url | prepend: site.baseurl }}" class='name'>{{ post.title }}
       </a>
     </div>
    {% endfor %}

      {% for post in site.categories['undergraduate'] %}
      <div class="program undergrad" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
         <a href="{{ post.url | prepend: site.baseurl }}" class="name">{{ post.title }}
         </a>
      </div>
      {% endfor %}

      {% for post in site.categories['other'] %}
      <div class="program other" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
           <a href="{{ post.url | prepend: site.baseurl }}" class="name">{{ post.title }}
           </a>
           {{post.other}}
      </div>
      {% endfor %}
  </div>

</div>

