---
layout: default
title: Directory of Allied Programs
---

<div id="programs">

  <div id="filters">
    <ul>
      <li data-filter="*">All Programs</li>
      <li data-filter=".grad">Graduate Programs</li>
      <li data-filter=".undergrad">Undergraduate Programs</li>
      <li data-filter=".other">Other Programs</li>
    </ul>
  </div>

  <h3>the list of program</h3>

   <div id="program-list">
     {% for post in site.categories['graduate'] %}
     <div class="program" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
       <a href="{{ post.url | prepend: site.baseurl }}" class='name'>{{ post.title }}
       </a>
     </div>
    {% endfor %}

      {% for post in site.categories['undergraduate'] %}
      <div class="program" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
         <a href="{{ post.url | prepend: site.baseurl }}" class="name">{{ post.title }}
         </a>
      </div>
      {% endfor %}

      {% for post in site.categories['other'] %}
      <div class="program" data-name="{{ post.title | downcase | replace: ' ', '_' }}">
           <a href="{{ post.url | prepend: site.baseurl }}" class="name">{{ post.title }}
           </a>
           {{post.other}}
      </div>
      {% endfor %}
  </div>

</div>

