---
layout: default
title: Praxis Network Student Directory
---
<h1>Praxis Network Student Directory</h1>
<p>Brief introduction to the purpose and audience of the student directory.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ante libero. Sed rutrum enim ut commodo accumsan. Ut nec justo sollicitudin, dignissim nulla eu, consectetur ipsum. Suspendisse blandit justo at mi accumsan, vel sollicitudin purus vulputate. Cras mollis hendrerit dolor sit amet pretium. Ut congue, ligula ut mattis commodo, ligula turpis auctor massa, non dapibus libero nunc vitae turpis. Vestibulum odio neque, malesuada quis semper sed, pellentesque sit amet lacus. Praesent in consectetur eros. Cras porta, sapien eu porttitor bibendum, lectus metus scelerisque eros, sit amet venenatis felis risus vel erat.</p>

<h1>Software Development</h1>
<ul>
  {% for post in site.categories['software'] %}
   <li>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
  </a>
  </li>
  {% endfor %}
</ul>

<h1>Spatial Humanities</h1>
<ul>
  {% for posts in site.categories['spatial'] %}
   <li>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
  </a>
  </li>
  {% endfor %}
</ul>

<h1>Textual Analysis</h1>
<ul>
  {% for posts in site.categoriesi['textual'] %}
   <li>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
  </a>
  </li>
  {% endfor %}
</ul>

<h1>Visualizations</h1>
<ul>
  {% for posts in site.categories['visualizations'] %}
   <li>
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
  </a>
  </li>
  {% endfor %}
</ul>
